{% extends "main.html" %}

{% block page_content %}


<!-- Start Content -->
<div class="w3-padding-large" style="margin-bottom:128px">
  
 <div class="w3-card w3-round-large w3-center w3-padding-large">

    

      
        <center>
          <br>
        
 
            
            
              <br><br>
              <ul class="w3-ul w3-border w3-border-gray w3-round-large" style="width: 90%">

                {% if userdata %}

                  <li class='w3-gray w3-text-white w3-padding w3-large'>

                    <a href="{% url 'LogOut' %}"><button class="w3-btn w3-light-gray w3-round-large w3-tiny w3-left">Log Out</button></a>
                    <a href="{% url 'Post' %}"><button type="submit" class="w3-btn w3-light-gray w3-round-large w3-tiny w3-right">Create Post</button></a><br>

                    <h6><b>Name: </b> <i class="w3-text-white" style="font-size: 14px"> {{userdata.fullname}} </i></h6>

                    <h6><b>Username: </b> <i class="w3-text-white" style="font-size: 14px"> {{request.user.username}} </i></h6>

                    <h6><b>Email : </b> <i class="w3-text-white" style="font-size: 14px"> {{request.user.email}} </i></h6>

                    <h6><b>Address : </b> <i class="w3-text-white" style="font-size: 14px"> {{userdata.address}} </i></h6>

                    <h6><b>Created at : </b> <i class="w3-text-white" style="font-size: 14px"> {{userdata.date_created}} </i></h6>

                  </li>
                  
                {% else %}

                  <h2 class="w3-text-red">No user data!</h2>
                  <a href="{% url 'SUD' %}"><button class="w3-btn w3-light-gray w3-round-large w3-tiny w3-center">Set User Data</button></a><br>

                {% endif %}
             
                {% if userpost %}
                  {% for post in userpost %}
                  <li class="w3-text-gray w3-justify">

                      <b class="w3-text-gray w3-right" style="font-size: 12px">{{post.tag}}</b>
                      <b class="w3-text-gray w3-left" style="font-size: 12px">Posted at :</b><i class="w3-text-gray w3-left" style="font-size: 12px"> {{post.date_created}} UTC</i><br>
                      <div style="font-size: 25px"><b>{{post.title}}</b></div>
                      {% if post.url %}
                      <i class="w3-text-gray" style="font-size: 12px">Visit at : <a href="{{post.url}}">{{post.url}}</a> </i>
                      {% endif %}
                      <br><br><br>
                      <div><b style="font-size: 20px">Description</b></div><div class="w3-text-gray" style="font-size: 14px"> {{post.description}} </div><br>
                      



                      <div class="w3-dropdown-hover w3-right w3-padding-small w3-white" >
                        <div class="w3-text-blue"><i class='fas fa-ellipsis-h ' style='font-size:20px'></i></div>

                        <div class="w3-dropdown-content w3-bar-block w3-card-2 w3-padding-tiny w3-zoom" style="right:0; bottom:18px">
                        <a href=""><Button class="w3-button w3-hover-white w3-tiny w3-text-gray"><b>Edit</b></Button></a><br>
                        <a href=""><Button class="w3-button w3-hover-white w3-tiny w3-text-gray"><b>Delete</b></Button></a>
                        </div>
                       </div><br>


                       
                  </li>
                  {% endfor %}

                {% else %}

                  <br><h4 class="w3-text-gray">No post yet!</h4><br>

                {% endif %}
               
               </ul><br>
              
              
               


        </center>

    


 </div>
<!-- End Page Content -->
</div>



{% endblock %}